{% extends 'ordersapp/base.html' %}

{% block title %}
  Список блюд
{% endblock %}

{% block body %}
  <h1>Список доступных блюд:</h1>
  {% if dishes  %}
    <div>
      {% for dish in dishes %}
        <p>Название блюда: {{ dish.name }}</p>
        <p>Описание: {{ dish.description }}</p>
        <p>Стоимость: {{ dish.price }}</p>
        <br>
      {% endfor %}
    </div>
  {% endif %}
  <div>
    <a href="{% url 'ordersapp:dish_create' %}">Добавить новое блюдо</a>
  </div>
<div>
    <a href="{% url 'ordersapp:orders_list' %}">К списку заказов</a>
</div>
<div>
  <a href="{% url 'ordersapp:order_create' %}">Создать заказ</a>
</div>
{% endblock %}