{% extends 'ordersapp/base.html' %}

{% block title %}
  Поиск заказов
{% endblock %}

{% block body %}
  <div>
    <h1>Поиск</h1>
    <form action="{% url 'ordersapp:order_search' %}" method="get">
      <input name="q" type="text" placeholder="Введите номер стола или статус" size="30">
      <button type="submit">
            Искать
      </button>
    </form>
    <br>
  </div>
  {% if object_list %}
    <h2>По вашему запросу найдено:</h2>
    <div>
      {% for order in object_list %}
        <p>ID: {{ order.pk }}</p>
        <p>Номер стола: {{ order.table_number }}</p>
        <p>Статус: <a href="{% url 'ordersapp:order_update' pk=order.pk %}">{{ order.status }}</a></p>
        <p>Список блюд: </p>
        <ul>
          {% for item in order.items.all %}
            <li>{{ item.name }} - {{ item.price }} руб</li>
          {% endfor %}
        </ul>
        <p>Сумма: {{ order.total_price }} руб</p>
        <div>
          <a href="{% url 'ordersapp:order_delete' pk=order.pk %}">Отменить заказ</a>
        </div>
        <br>
      {% endfor %}
    </div>
  {% else %}
    <h2>По вашему запросу ничего не найдено</h2>
  {% endif %}


<div>
  <a href="{% url 'ordersapp:orders_list' %}">Назад к списку заказов</a>
</div>
{% endblock %}

