{% extends 'ordersapp/base.html' %}

{% block title %}
  Список заказов
{% endblock %}

{% block body %}
  <h1>Список заказов:</h1>
  {% if orders %}
    <div>
      {% for order in orders %}
        <p>ID: {{ order.pk }}</p>
        <p>Номер стола: {{ order.table_number }}</p>
        <p>Статус: {{ order.status }}</p>
        <p>Список блюд: </p>
        <ul>
          {% for item in order.items.all %}
            <li>{{ item.name }} - {{ item.price }} руб</li>
          {% endfor %}
        </ul>
        <p>Сумма: {{ order.total_price }} руб</p>
        <div>
          <a href="{% url 'ordersapp:order_delete' pk=order.pk %}">Отменить заказ</a>
        </div>
        <br>
      {% endfor %}
    </div>
  {% else %}
    <h3>Скоро здесь появятся заказы</h3>
  {% endif %}
{% endblock %}