{% extends 'ordersapp/base.html' %}

{% block title %}
  Выручка
{% endblock %}

{% block body %}
    <h1>Общая выручка за смену: {{ object_list.1 }} руб</h1>
    {% if object_list %}
        <table border="1" cellspacing="0" cellpadding="5">
      <thead>
        <tr>
          <th>ID</th>
          <th>Номер стола</th>
          <th>Статус</th>
          <th>Список блюд</th>
          <th>Сумма</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for order in object_list.0 %}
          <tr>
            <td>{{ order.pk }}</td>
            <td>{{ order.table_number }}</td>
            <td>
              <a href="{% url 'ordersapp:order_update' pk=order.pk %}">{{ order.status }}</a>
            </td>
            <td>
              <ul>
                {% for item in order.items.all %}
                  <li>{{ item.name }} - {{ item.price }} руб</li>
                {% endfor %}
              </ul>
            </td>
            <td>{{ order.total_price }} руб</td>
            <td>
              <a href="{% url 'ordersapp:order_delete' pk=order.pk %}">Отменить</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
<div>
  <a href="{% url 'ordersapp:orders_list' %}">Назад к списку заказов</a>
</div>
{% endblock %}